<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ampt.bluetooth"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        <activity
            android:name="com.ampt.bluetooth.activities.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeviceControlActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DogScanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeviceScanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <!--        <activity
                    android:name=".AddOrEditDogProfile"
                    android:configChanges="orientation"
                    android:screenOrientation="portrait" />-->
        <activity
            android:name=".activities.DogProfileControlActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ArchivedActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".chartView" />
        <activity android:name=".singleChartView" />
        <activity android:name=".AllChartView" />

        <activity
            android:name="com.ampt.bluetooth.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity android:name="com.ampt.bluetooth.activities.MainActivity" />
        <activity
            android:name="com.ampt.bluetooth.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.ampt.bluetooth.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />

        <activity
            android:name="com.ampt.bluetooth.activities.TabbedMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />
        <activity
            android:name="com.ampt.bluetooth.activities.tabs.Tab_activities_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ampt.bluetooth.activities.tabs.Tab_Dogs_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ampt.bluetooth.activities.tabs.Tab_Home_activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.AddDogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />

        <service
            android:name=".activities.BluetoothLeService"
            android:enabled="true" />
    </application>
</manifest>
